html,body{
  background: #f3f4f5;
  margin: 0;
  padding: 0;
  svg {
    width: 100%;
    height: 1000px;
    background: #f3f4f5;
    circle.circle{
      stroke: #333;
      stroke-width: 1px;
      fill: #fff;
    }
  }
}