extends ../toollayout

block Content
  include ../toolmenu
  .particles
  .toolmain
    .tool-wrap
      .tool-sec
        h3 Resource
        ul
          li <a targer="_blank" href="http://php.net/">Official Website</a>
      .tool-sec
          h3 Array
          ul
            li.title Array Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.array.php" title="Creates an array">array()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-change-key-case.php" title="Returns an array with all keys in lowercase or uppercase">array_change_key_case()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-chunk.php" title="Splits an array into chunks of arrays">array_chunk()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-combine.php" title="Creates an array by using one array for keys and another for its values">array_combine()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-count-values.php" title="Returns an array with the number of occurrences for each value">array_count_values()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-diff.php" title="Compares array values, and returns the differences">array_diff()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-diff-assoc.php" title="Compares array keys and values, and returns the differences">array_diff_assoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-diff-key.php" title="Compares array keys, and returns the differences">array_diff_key()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-diff-uassoc.php" title="Compares array keys and values, with an additional user-made function check, and returns the differences">array_diff_uassoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-diff-ukey.php" title="Compares array keys, with an additional user-made function check, and returns the differences">array_diff_ukey()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-fill.php" title="Fills an array with values">array_fill()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-filter.php" title="Filters elements of an array using a user-made function">array_filter()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-flip.php" title="Exchanges all keys with their associated values in an array">array_flip()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-intersect.php" title="Compares array values, and returns the matches">array_intersect()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-intersect-assoc.php" title="Compares array keys and values, and returns the matches">array_intersect_assoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-intersect-key.php" title="Compares array keys, and returns the matches">array_intersect_key()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-intersect-uassoc.php" title="Compares array keys and values, with an additional user-made function check, and returns the matches">array_intersect_uassoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-intersect-ukey.php" title="Compares array keys, with an additional user-made function check, and returns the matches">array_intersect_ukey()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-key-exists.php" title="Checks if the specified key exists in the array">array_key_exists()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-keys.php" title="Returns all the keys of an array">array_keys()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-map.php" title="Sends each value of an array to a user-made function, which returns new values">array_map()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-merge.php" title="Merges one or more arrays into one array">array_merge()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-merge-recursive.php" title="Merges one or more arrays into one array">array_merge_recursive()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-multisort.php" title="Sorts multiple or multi-dimensional arrays">array_multisort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-pad.php" title="Inserts a specified number of items, with a specified value, to an array">array_pad()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-pop.php" title="Deletes the last element of an array">array_pop()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-product.php" title="Calculates the product of the values in an array">array_product()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-push.php" title="Inserts one or more elements to the end of an array">array_push()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-rand.php" title="Returns one or more random keys from an array">array_rand()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-reduce.php" title="Returns an array as a string, using a user-defined function">array_reduce()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-reverse.php" title="Returns an array in the reverse order">array_reverse()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-search.php" title="Searches an array for a given value and returns the key">array_search()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-shift.php" title="Removes the first element from an array, and returns the value of the removed element">array_shift()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-slice.php" title="Returns selected parts of an array">array_slice()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-splice.php" title="Removes and replaces specified elements of an array">array_splice()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-sum.php" title="Returns the sum of the values in an array">array_sum()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-udiff.php" title="Compares array values in a user-made function and returns an array">array_udiff()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-udiff-assoc.php" title="Compares array keys, and compares array values in a user-made function, and returns an array">array_udiff_assoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-udiff-uassoc.php" title="Compares array keys and array values in user-made functions, and returns an array">array_udiff_uassoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-uintersect.php" title="Compares array values in a user-made function and returns an array">array_uintersect()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-uintersect-assoc.php" title="Compares array keys, and compares array values in a user-made function, and returns an array">array_uintersect_assoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-uintersect-uassoc.php" title="Compares array keys and array values in user-made functions, and returns an array">array_uintersect_uassoc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-unique.php" title="Removes duplicate values from an array">array_unique()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-unshift.php" title="Adds one or more elements to the beginning of an array">array_unshift()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-values.php" title="Returns all the values of an array">array_values()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-walk.php" title="Applies a user function to every member of an array">array_walk()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.array-walk-recursive.php" title="Applies a user function recursively to every member of an array">array_walk_recursive()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.arsort.php" title="Sorts an array in reverse order and maintain index association">arsort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.asort.php" title="Sorts an array and maintain index association">asort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.compact.php" title="Create array containing variables and their values">compact()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.count.php" title="Counts elements in an array, or properties in an object">count()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.current.php" title="Returns the current element in an array">current()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.each.php" title="Returns the current key and value pair from an array">each()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.end.php" title="Sets the internal pointer of an array to its last element">end()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.extract.php" title="Imports variables into the current symbol table from an array">extract()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.in-array.php" title="Checks if a specified value exists in an array">in_array()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.key.php" title="Fetches a key from an array">key()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.krsort.php" title="Sorts an array by key in reverse order">krsort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ksort.php" title="Sorts an array by key">ksort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.list.php" title="Assigns variables as if they were an array">list()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.natcasesort.php" title="Sorts an array using a case insensitive "natural order" algorithm">natcasesort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.natsort.php" title="Sorts an array using a "natural order" algorithm">natsort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.next.php" title="Advance the internal array pointer of an array">next()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.current.php" title="Alias of current()">pos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.prev.php" title="Rewinds the internal array pointer">prev()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.range.php" title="Creates an array containing a range of elements">range()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.reset.php" title="Sets the internal pointer of an array to its first element">reset()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rsort.php" title="Sorts an array in reverse order">rsort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.shuffle.php" title="Shuffles an array">shuffle()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.count.php" title="Alias of count()">sizeof()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sort.php" title="Sorts an array">sort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.uasort.php" title="Sorts an array with a user-defined function and maintain index association">uasort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.uksort.php" title="Sorts an array by keys using a user-defined function">uksort()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.usort.php" title="Sorts an array by values using a user-defined  function">usort()</a>
            li.title Array Constants
            li(title="CASE_LOWER") CASE_LOWER
            li(title="Used with array_change_key_case() to convert array keys to lower case") Used with array_change_key_case() to convert array keys to lower case
            li(title="CASE_UPPER") CASE_UPPER
            li(title="Used with array_change_key_case() to convert array keys to upper case") Used with array_change_key_case() to convert array keys to upper case
            li(title="SORT_ASC") SORT_ASC
            li(title="Used with array_multisort() to sort in ascending order") Used with array_multisort() to sort in ascending order
            li(title="SORT_DESC") SORT_DESC
            li(title="Used with array_multisort() to sort in descending order") Used with array_multisort() to sort in descending order
            li(title="SORT_REGULAR") SORT_REGULAR
            li(title="Used to compare items normally") Used to compare items normally
            li(title="SORT_NUMERIC") SORT_NUMERIC
            li(title="Used to compare items numerically") Used to compare items numerically
            li(title="SORT_STRING") SORT_STRING
            li(title="Used to compare items as strings") Used to compare items as strings
            li(title="SORT_LOCALE_STRING") SORT_LOCALE_STRING
            li(title="Used to compare items as strings, based on the current locale ") Used to compare items as strings, based on the current locale 
            li(title="COUNT_NORMAL") COUNT_NORMAL
            li(title="COUNT_RECURSIVE") COUNT_RECURSIVE
            li(title="EXTR_OVERWRITE") EXTR_OVERWRITE
            li(title="EXTR_SKIP") EXTR_SKIP
            li(title="EXTR_PREFIX_SAME") EXTR_PREFIX_SAME
            li(title="EXTR_PREFIX_ALL") EXTR_PREFIX_ALL
            li(title="EXTR_PREFIX_INVALID") EXTR_PREFIX_INVALID
            li(title="EXTR_PREFIX_IF_EXISTS") EXTR_PREFIX_IF_EXISTS
            li(title="EXTR_IF_EXISTS") EXTR_IF_EXISTS
            li(title="EXTR_REFS") EXTR_REFS
      .tool-sec
        h3 String
        ul
            li.title String Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.addcslashes.php" title="Returns a string with backslashes in front of the specified characters">addcslashes()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.addslashes.php" title="Returns a string with backslashes in front of predefined characters">addslashes()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.bin2hex.php" title="Converts a string of ASCII characters to hexadecimal values">bin2hex()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rtrim.php" title="Alias of rtrim()">chop()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.chr.php" title="Returns a character from a specified ASCII value">chr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.chunk-split.php" title="Splits a string into a series of smaller parts">chunk_split()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.convert-cyr-string.php" title="Converts a string from one Cyrillic character-set to another">convert_cyr_string()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.convert-uudecode.php" title="Decodes a uuencoded string">convert_uudecode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.convert-uuencode.php" title="Encodes a string using the uuencode algorithm">convert_uuencode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.count-chars.php" title="Returns how many times an ASCII character occurs within a string and returns the information">count_chars()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.crc32.php" title="Calculates a 32-bit CRC for a string">crc32()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.crypt.php" title="One-way string encryption (hashing)">crypt()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.echo.php" title="Outputs strings">echo()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.explode.php" title="Breaks a string into an array">explode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fprintf.php" title="Writes a formatted string to a specified output stream">fprintf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.htmlspecialchars.php" title="Returns the translation table used by htmlspecialchars() and htmlentities()">get_html_translation_table()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.hebrev.php" title="Converts Hebrew text to visual text">hebrev()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.hebrevc.php" title="Converts Hebrew text to visual text and new lines (\n) into &lt;br /&gt;">hebrevc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.html-entity-decode.php" title="Converts HTML entities to characters">html_entity_decode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.htmlentities.php" title="Converts characters to HTML entities">htmlentities()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.htmlspecialchars-decode.php" title="Converts some predefined HTML entities to characters">htmlspecialchars_decode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.htmlspecialchars.php" title="Converts some predefined characters to HTML entities">htmlspecialchars()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.implode.php" title="Returns a string from the elements of an array">implode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.join.php" title="Alias of implode()">join()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.levenshtein.php" title="Returns the Levenshtein distance between two strings">levenshtein()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.localeconv.php" title="Returns locale numeric and monetary formatting information">localeconv()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ltrim.php" title="Strips whitespace from the left side of a string">ltrim()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.md5.php" title="Calculates the MD5 hash of a string">md5()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.md5-file.php" title="Calculates the MD5 hash of a file">md5_file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.metaphone.php" title="Calculates the metaphone key of a string">metaphone()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.money-format.php" title="Returns a string formatted as a currency string">money_format()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.nl-langinfo.php" title="Returns specific local information">nl_langinfo()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.nl2br.php" title="Inserts HTML line breaks in front of each newline in a string">nl2br()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.number-format.php" title="Formats a number with grouped thousands">number_format()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ord.php" title="Returns the ASCII value of the first character of a string">ord()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.parse-str.php" title="Parses a query string into variables">parse_str()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.print.php" title="Outputs a string">print()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.printf.php" title="Outputs a formatted string">printf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.quoted-printable-decode.php" title="Decodes a quoted-printable string">quoted_printable_decode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.quotemeta.php" title="Quotes meta characters">quotemeta()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rtrim.php" title="Strips whitespace from the right side of a string">rtrim()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.setlocale.php" title="Sets locale information">setlocale()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sha1.php" title="Calculates the SHA-1 hash of a string">sha1()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sha1-file.php" title="Calculates the SHA-1 hash of a file">sha1_file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.similar-text.php" title="Calculates the similarity between two strings">similar_text()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.soundex.php" title="Calculates the soundex key of a string">soundex()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sprintf.php" title="Writes a formatted string to a variable">sprintf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sscanf.php" title="Parses input from a string according to a format">sscanf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-ireplace.php" title="Replaces some characters in a string (case-insensitive)">str_ireplace()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-pad.php" title="Pads a string to a new length">str_pad()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-repeat.php" title="Repeats a string a specified number of times">str_repeat()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-replace.php" title="Replaces some characters in a string (case-sensitive)">str_replace()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-rot13.php" title="Performs the ROT13 encoding on a string">str_rot13()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-shuffle.php" title="Randomly shuffles all characters in a string">str_shuffle()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-split.php" title="Splits a string into an array">str_split()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.str-word-count.php" title="Count the number of words in a string">str_word_count()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strcasecmp.php" title="Compares two strings (case-insensitive)">strcasecmp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strchr.php" title="Finds the first occurrence of a string inside another string (alias of strstr())">strchr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strcmp.php" title="Compares two strings (case-sensitive)">strcmp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strcoll.php" title="Locale based string comparison">strcoll()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strcspn.php" title="Returns the number of characters found in a string before any part of some specified characters are found">strcspn()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strip-tags.php" title="Strips HTML and PHP tags from a string">strip_tags()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.addcslashes.php" title="Unquotes a string quoted with addcslashes()">stripcslashes()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.addslashes.php" title="Unquotes a string quoted with addslashes()">stripslashes()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.stripos.php" title="Returns the position of the first occurrence of a string inside another string (case-insensitive)">stripos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.stristr.php" title="Finds the first occurrence of a string inside another string (case-insensitive)">stristr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strlen.php" title="Returns the length of a string">strlen()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strnatcasecmp.php" title="Compares two strings using a "natural order" algorithm (case-insensitive)">strnatcasecmp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strnatcmp.php" title="Compares two strings using a "natural order" algorithm (case-sensitive)">strnatcmp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strncasecmp.php" title="String comparison of the first n characters (case-insensitive)">strncasecmp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strncmp.php" title="String comparison of the first n characters (case-sensitive)">strncmp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strpbrk.php" title="Searches a string for any of a set of characters">strpbrk()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strpos.php" title="Returns the position of the first occurrence of a string inside another string (case-sensitive)">strpos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strrchr.php" title="Finds the last occurrence of a string inside another string">strrchr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strrev.php" title="Reverses a string">strrev()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strripos.php" title="Finds the position of the last occurrence of a string inside another string (case-insensitive)">strripos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strrpos.php" title="Finds the position of the last occurrence of a string inside another string (case-sensitive)">strrpos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strspn.php" title="Returns the number of characters found in a string that contains only characters from a specified charlist">strspn()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strstr.php" title="Finds the first occurrence of a string inside another string (case-sensitive)">strstr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strtok.php" title="Splits a string into smaller strings">strtok()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strtolower.php" title="Converts a string to lowercase letters">strtolower()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strtoupper.php" title="Converts a string to uppercase letters">strtoupper()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strtr.php" title="Translates certain characters in a string">strtr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.substr.php" title="Returns a part of a string">substr()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.substr-compare.php" title="Compares two strings from a specified start position (binary safe and optionally case-sensitive)">substr_compare()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.substr-count.php" title="Counts the number of times a substring occurs in a string">substr_count()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.substr-replace.php" title="Replaces a part of a string with another string">substr_replace()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.trim.php" title="Strips whitespace from both sides of a string">trim()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ucfirst.php" title="Converts the first character of a string to uppercase">ucfirst()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ucwords.php" title="Converts the first character of each word in a string to uppercase">ucwords()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.vfprintf.php" title="Writes a formatted string to a specified output stream">vfprintf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.vprintf.php" title="Outputs a formatted string">vprintf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.vsprintf.php" title="Writes a formatted string to a variable">vsprintf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.wordwrap.php" title="Wraps a string to a given number of characters">wordwrap()</a>
            li.title String Constants
            li(title="CRYPT_SALT_LENGTH") CRYPT_SALT_LENGTH
            li(title="Contains the length of the default encryption method for the system. For standard DES encryption, the length is 2") Contains the length of the default encryption method for the system. For standard DES encryption, the length is 2
            li(title="CRYPT_STD_DES") CRYPT_STD_DES
            li(title="Set to 1 if the standard DES-based encryption with a 2 character salt is supported, 0 otherwise") Set to 1 if the standard DES-based encryption with a 2 character salt is supported, 0 otherwise
            li(title="CRYPT_EXT_DES") CRYPT_EXT_DES
            li(title="Set to 1 if the extended DES-based encryption with a 9 character salt is supported, 0 otherwise") Set to 1 if the extended DES-based encryption with a 9 character salt is supported, 0 otherwise
            li(title="CRYPT_MD5") CRYPT_MD5
            li(title="Set to 1 if the MD5 encryption with a 12 character salt starting with $1$ is supported, 0 otherwise") Set to 1 if the MD5 encryption with a 12 character salt starting with $1$ is supported, 0 otherwise
            li(title="CRYPT_BLOWFISH") CRYPT_BLOWFISH
            li(title="Set to 1 if the Blowfish encryption with a 16 character salt starting with $2$ or $2a$ is supported, 0 otherwise0") Set to 1 if the Blowfish encryption with a 16 character salt starting with $2$ or $2a$ is supported, 0 otherwise0
            li(title="HTML_SPECIALCHARS") HTML_SPECIALCHARS
            li(title="HTML_ENTITIES") HTML_ENTITIES
            li(title="ENT_COMPAT") ENT_COMPAT
            li(title="ENT_QUOTES") ENT_QUOTES
            li(title="ENT_NOQUOTES") ENT_NOQUOTES
            li(title="CHAR_MAX") CHAR_MAX
            li(title="LC_CTYPE") LC_CTYPE
            li(title="LC_NUMERIC") LC_NUMERIC
            li(title="LC_TIME") LC_TIME
            li(title="LC_COLLATE") LC_COLLATE
            li(title="LC_MONETARY") LC_MONETARY
            li(title="LC_ALL") LC_ALL
            li(title="LC_MESSAGES") LC_MESSAGES
            li(title="STR_PAD_LEFT") STR_PAD_LEFT
            li(title="STR_PAD_RIGHT") STR_PAD_RIGHT
            li(title="STR_PAD_BOTH") STR_PAD_BOTH
      .tool-sec
        h3 Variable
        ul
            li.title Handling Functions
            li <a targer="_blank" href="http://www.php.net/manual/en/function.boolval.php" title="Get the boolean value of a variable">boolval</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.debug-zval-dump.php" title="Dumps a string representation of an internal zend value to output">debug_zval_dump</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.doubleval.php" title="Alias of floatval">doubleval</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.empty.php" title="Determine whether a variable is empty">empty</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.floatval.php" title="Get float value of a variable">floatval</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.get-defined-vars.php" title="Returns an array of all defined variables">get_defined_vars</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.get-resource-type.php" title="Returns the resource type">get_resource_type</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.gettype.php" title="Get the type of a variable">gettype</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.import-request-variables.php" title="Import GET/POST/Cookie variables into the global scope">import_request_variables</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.intval.php" title="Get the integer value of a variable">intval</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-array.php" title="Finds whether a variable is an array">is_array</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-bool.php" title="Finds out whether a variable is a boolean">is_bool</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-callable.php" title="Verify that the contents of a variable can be called as a function">is_callable</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-double.php" title="Alias of is_float">is_double</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-float.php" title="Finds whether the type of a variable is float">is_float</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-int.php" title="Find whether the type of a variable is integer">is_int</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-integer.php" title="Alias of is_int">is_integer</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-long.php" title="Alias of is_int">is_long</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-null.php" title="Finds whether a variable is NULL">is_null</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-numeric.php" title="Finds whether a variable is a number or a numeric string">is_numeric</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-object.php" title="Finds whether a variable is an object">is_object</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-real.php" title="Alias of is_float">is_real</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-resource.php" title="Finds whether a variable is a resource">is_resource</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-scalar.php" title="Finds whether a variable is a scalar">is_scalar</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.is-string.php" title="Find whether the type of a variable is string">is_string</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.isset.php" title="Determine if a variable is set and is not NULL">isset</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.print-r.php" title="Prints human-readable information about a variable">print_r</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.serialize.php" title="Generates a storable representation of a value">serialize</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.settype.php" title="Set the type of a variable">settype</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.strval.php" title="Get string value of a variable">strval</a>
            li <a targer="_blank" href="function.unserialize.php" title="Creates a PHP value from a stored representation">unserialize</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.unset.php" title="Unset a given variable">unset</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.var-dump.php" title="Dumps information about a variable">var_dump</a>
            li <a targer="_blank" href="http://www.php.net/manual/en/function.var-export.php" title="Outputs or returns a parsable string representation of a variable">var_export</a>
      .tool-sec
        h3 Date/Time
        ul
            li.title Date/Time Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.checkdate.php" title="Validates a Gregorian date">checkdate()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.date-default-timezone-get.php" title="Returns the default time zone">date_default_timezone_get()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.date-default-timezone-set.php" title="Sets the default time zone">date_default_timezone_set()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.date-sunrise.php" title="Returns the time of sunrise for a given day / location">date_sunrise()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.date-sunset.php" title="Returns the time of sunset for a given day / location">date_sunset()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.date.php" title="Formats a local time/date">date()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.getdate.php" title="Returns an array that contains date and time information for a Unix timestamp">getdate()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.gettimeofday.php" title="Returns an array that contains current time information">gettimeofday()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.gmdate.php" title="Formats a GMT/UTC date/time">gmdate()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.gmmktime.php" title="Returns the Unix timestamp for a GMT date">gmmktime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.gmstrftime.php" title="Formats a GMT/UTC time/date according to locale settings">gmstrftime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.idate.php" title="Formats a local time/date as integer">idate()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.localtime.php" title="Returns an array that contains the time components of a Unix timestamp">localtime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.microtime.php" title="Returns the microseconds for the current time">microtime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.mktime.php" title="Returns the Unix timestamp for a date">mktime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strftime.php" title="Formats a local time/date according to locale settings">strftime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strftime.php" title="Parses a time/date generated with strftime()">strptime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.strtotime.php" title="Parses an English textual date or time into a Unix timestamp">strtotime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.time.php" title="Returns the current time as a Unix timestamp">time()</a>
            li.title Date/Time Constants
            li(title="DATE_ATOM") DATE_ATOM
            li(title="Atom (example: 2005-08-15T16:13:03+0000)") Atom (example: 2005-08-15T16:13:03+0000)
            li(title="DATE_COOKIE") DATE_COOKIE
            li(title="HTTP Cookies (example: Sun, 14 Aug 2005 16:13:03 UTC)") HTTP Cookies (example: Sun, 14 Aug 2005 16:13:03 UTC)
            li(title="DATE_ISO8601") DATE_ISO8601
            li(title="ISO-8601 (example: 2005-08-14T16:13:03+0000)") ISO-8601 (example: 2005-08-14T16:13:03+0000)
            li(title="DATE_RFC822") DATE_RFC822
            li(title="RFC 822 (example: Sun, 14 Aug 2005 16:13:03 UTC)") RFC 822 (example: Sun, 14 Aug 2005 16:13:03 UTC)
            li(title="DATE_RFC850") DATE_RFC850
            li(title="RFC 850 (example: Sunday, 14-Aug-05 16:13:03 UTC)") RFC 850 (example: Sunday, 14-Aug-05 16:13:03 UTC)
            li(title="DATE_RFC1036") DATE_RFC1036
            li(title="RFC 1036 (example: Sunday, 14-Aug-05 16:13:03 UTC)") RFC 1036 (example: Sunday, 14-Aug-05 16:13:03 UTC)
            li(title="DATE_RFC1123") DATE_RFC1123
            li(title="RFC 1123 (example: Sun, 14 Aug 2005 16:13:03 UTC)") RFC 1123 (example: Sun, 14 Aug 2005 16:13:03 UTC)
            li(title="DATE_RFC2822") DATE_RFC2822
            li(title="RFC 2822 (Sun, 14 Aug 2005 16:13:03 +0000)") RFC 2822 (Sun, 14 Aug 2005 16:13:03 +0000)
            li(title="DATE_RSS") DATE_RSS
            li(title="RSS (Sun, 14 Aug 2005 16:13:03 UTC)") RSS (Sun, 14 Aug 2005 16:13:03 UTC)
            li(title="DATE_W3C") DATE_W3C
            li(title="World Wide Web Consortium (example: 2005-08-14T16:13:03+0000)") World Wide Web Consortium (example: 2005-08-14T16:13:03+0000)
      .tool-sec
        h3 Directory
        ul
            li.title Directory Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.chdir.php" title="Changes the current directory">chdir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.chroot.php" title="Changes the root directory of the current process">chroot()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.dir.php" title="Opens a directory handle and returns an object">dir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.closedir.php" title="Closes a directory handle">closedir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.getcwd.php" title="Returns the current directory">getcwd()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.opendir.php" title="Opens a directory handle">opendir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.readdir.php" title="Returns an entry from a directory handle">readdir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rewinddir.php" title="Resets a directory handle">rewinddir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.scandir.php" title="Lists files and directories inside a specified path">scandir()</a>
            li.title Directory Constants
            li DIRECTORY_SEPARATOR
            li PATH_SEPARATOR
      .tool-sec
        h3 Error
        ul
            li.title Error Constants
            li <span class="right">E_ERROR</span><span>1</span>
            li Fatal run-time errors. Errors that cannot be recovered from. Execution of the script is halted
            li <span class="right">E_WARNING</span><span>2</span>
            li Non-fatal run-time errors. Execution of the script is not halted
            li <span class="right">E_PARSE</span><span>4</span>
            li Compile-time parse errors. Parse errors should only be generated by the parser
            li <span class="right">E_NOTICE</span><span>8</span>
            li Run-time notices. The script found something that might be an error, but could also happen when running a script normally
            li <span class="right">E_CORE_ERROR</span><span>16</span>
            li Fatal errors at PHP startup. This is like an E_ERROR in the PHP core
            li <span class="right">E_CORE_WARNING</span><span>32</span>
            li Non-fatal errors at PHP startup. This is like an E_WARNING in the PHP core
            li <span class="right">E_COMPILE_ERROR</span><span>64</span>
            li Fatal compile-time errors. This is like an E_ERROR generated by the Zend Scripting Engine
            li <span class="right">E_COMPILE_WARNING</span><span>128</span>
            li Non-fatal compile-time errors. This is like an E_WARNING generated by the Zend Scripting Engine
            li <span class="right">E_USER_ERROR</span><span>256</span>
            li Fatal user-generated error. This is like an E_ERROR set by the programmer using the PHP function trigger_error()
            li <span class="right">E_USER_WARNING</span><span>512</span>
            li Non-fatal user-generated warning. This is like an E_WARNING set by the programmer using the PHP function trigger_error()
            li <span class="right">E_USER_NOTICE</span><span>1024</span>
            li User-generated notice. This is like an E_NOTICE set by the programmer using the PHP function trigger_error()
            li <span class="right">E_STRICT</span><span>2048</span>
            li Run-time notices. PHP suggest changes to your code to help interoperability and compatibility of the code
            li <span class="right">E_RECOVERABLE_ERROR</span><span>4096</span>
            li Catchable fatal error. This is like an E_ERROR but can be caught by a user defined handle (see also set_error_handler())
            li <span class="right">E_ALL</span><span>6143</span>
            li All errors and warnings, except of level E_STRICT
      .tool-sec
        h3 Math
        ul
            li.title Math Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.abs.php" title="Returns the absolute value of a number">abs()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.acos.php" title="Returns the arccosine of a number">acos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.acosh.php" title="Returns the inverse hyperbolic cosine of a number ">acosh()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.asin.php" title="Returns the arcsine of a number">asin()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.asinh.php" title="Returns the inverse hyperbolic sine of a number">asinh()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.atan.php" title="Returns the arctangent of a number as a numeric value between -PI/2 and PI/2 radians">atan()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.atan2.php" title="Returns the angle theta of an (x,y) point as a numeric value between -PI and PI radians">atan2()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.atanh.php" title="Returns the inverse hyperbolic tangent of a number">atanh()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.base-convert.php" title="Converts a number from one base to another">base_convert()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.bindec.php" title="Converts a binary number to a decimal number">bindec()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ceil.php" title="Returns the value of a number rounded upwards to the nearest integer">ceil()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.cos.php" title="Returns the cosine of a number">cos()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.cosh.php" title="Returns the hyperbolic cosine of a number">cosh()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.decbin.php" title="Converts a decimal number to a binary number">decbin()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.dechex.php" title="Converts a decimal number to a hexadecimal number">dechex()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.decoct.php" title="Converts a decimal number to an octal number">decoct()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.deg2rad.php" title="Converts a degree to a radian number">deg2rad()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.exp.php" title="Returns the value of E">exp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.expm1.php" title="Returns the value of E">expm1()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.floor.php" title="Returns the value of a number rounded downwards to the nearest integer">floor()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fmod.php" title="Returns the remainder (modulo) of the division of the arguments">fmod()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rand.php" title="Returns the maximum random number that can be returned by a call to the rand() function">getrandmax()</a></p>
            li <a targer="_blank" href="http://php.net/manual/en/function.hexdec.php" title="Converts a hexadecimal number to a decimal number">hexdec()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.hypot.php" title="Returns the length of the hypotenuse of a right-angle triangle">hypot()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-finite.php" title="Returns true if a value is a finite number">is_finite()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-infinite.php" title="Returns true if a value is an infinite number">is_infinite()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-nan.php" title="Returns true if a value is not a number">is_nan()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.lcg-value.php" title="Returns a pseudo random number in the range of (0,1)">lcg_value()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.log.php" title="Returns the natural logarithm (base E) of a number">log()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.log10.php" title="Returns the base-10 logarithm of a number">log10()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.log.php" title="Returns log(1+number)">log1p()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.max.php" title="Returns the number with the highest value of two specified numbers">max()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.min.php" title="Returns the number with the lowest value of two specified numbers">min()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.mt-rand.php" title="Returns the largest possible value that can be returned by mt_rand()">mt_getrandmax()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.mt-rand.php" title="Returns a random integer using Mersenne Twister algorithm">mt_rand()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.mt-srand.php" title="Seeds the Mersenne Twister random number generator">mt_srand()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.octdec.php" title="Converts an octal number to a decimal number">octdec()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.pi.php" title="Returns the value of PI">pi()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.pow.php" title="Returns the value of x to the power of y">pow()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rad2deg.php" title="Converts a radian number to a degree">rad2deg()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rand.php" title="Returns a random integer">rand()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.round.php" title="Rounds a number to the nearest integer">round()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sin.php" title="Returns the sine of a number">sin()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sinh.php" title="Returns the hyperbolic sine of a number">sinh()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.sqrt.php" title="Returns the square root of a number">sqrt()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.srand.php" title="Seeds the random number generator">srand()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.tan.php" title="Returns the tangent of an angle">tan()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.tanh.php" title="Returns the hyperbolic tangent of an angle">tanh()</a>
            li.title Math Constants
            li M_E
            li Returns e (approx. 2.718)
            li M_EULER
            li Returns Euler's constant (approx. 0.577)
            li M_LNPI
            li Returns the natural logarithm of PI (approx. 1.144)
            li M_LN2
            li Returns the natural logarithm of 2 (approx. 0.693)
            li M_LN10
            li Returns the natural logarithm of 10 (approx. 2.302)
            li M_LOG2E
            li Returns the base-2 logarithm of E (approx. 1.442)
            li M_LOG10E
            li Returns the base-10 logarithm of E (approx. 0.434)
            li M_PI
            li Returns PI (approx. 3.14159)
            li M_PI_2
            li Returns PI/2 (approx. 1.570)
            li M_PI_4
            li Returns PI/4 (approx. 0.785)
            li M_1_PI
            li Returns 1/PI (approx. 0.318)
            li M_2_PI
            li Returns 2/PI (approx. 0.636)
            li M_SQRTPI
            li Returns the square root of PI (approx. 1.772)
            li M_2_SQRTPI
            li Returns 2/square root of PI (approx. 1.128)
            li M_SQRT1_2
            li Returns the square root of 1/2 (approx. 0.707)
            li M_SQRT2
            li Returns the square root of 2 (approx. 1.414)
            li M_SQRT3
            li Returns the square root of 3 (approx. 1.732)
      .tool-sec
        h3 Filesystem
        ul
            li.title Filesystem Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.basename.php" title="Returns the filename component of a path">basename()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.chgrp.php" title="Changes the file group">chgrp()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.chmod.php" title="Changes the file mode">chmod()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.chown.php" title="Changes the file owner">chown()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.clearstatcache.php" title="Clears the file status cache">clearstatcache()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.copy.php" title="Copies a file">copy()</a>
            li <span title="Delete a file">delete()</span>
            li <a targer="_blank" href="http://php.net/manual/en/function.dirname.php" title="Returns the directory name component of a path">dirname()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.disk-free-space.php" title="Returns the free space of a directory">disk_free_space()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.disk-total-space.php" title="Returns the total size of a directory">disk_total_space()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.disk-free-space.php" title="Alias of disk_free_space()">diskfreespace()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fclose.php" title="Closes an open file">fclose()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.feof.php" title="Tests for end-of-file on an open file">feof()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fflush.php" title="Flushes buffered output to an open file">fflush()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fgetc.php" title="Returns a character from an open file">fgetc()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fgetcsv.php" title="Parses a line from an open file, checking for ">fgetcsv()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fgets.php" title="Returns a line from an open file">fgets()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fgetss.php" title="Returns a line, with HTML and PHP tags removed, from an open file">fgetss()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.file.php" title="Reads a file into an array">file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.file-exists.php" title="Checks whether or not a file or directory exists">file_exists()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.file-get-contents.php" title="Reads a file into a string">file_get_contents()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.file-put-contents.php" title="Writes a string to a file">file_put_contents</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fileatime.php" title="Returns the last access time of a file">fileatime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filectime.php" title="Returns the last change time of a file">filectime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filegroup.php" title="Returns the group ID of a file">filegroup()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fileinode.php" title="Returns the inode number of a file">fileinode()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filemtime.php" title="Returns the last modification time of a file">filemtime()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fileowner.php" title="Returns the user ID (owner) of a file">fileowner()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fileperms.php" title="Returns the permissions of a file">fileperms()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filesize.php" title="Returns the file size">filesize()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filetype.php" title="Returns the file type">filetype()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.flock.php" title="Locks or releases a file">flock()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fnmatch.php" title="Matches a filename or string against a specified pattern">fnmatch()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fopen.php" title="Opens a file or URL">fopen()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fpassthru.php" title="Reads from an open file, until EOF, and writes the result to the output buffer">fpassthru()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fputcsv.php" title="Formats a line as CSV and writes it to an open file">fputcsv()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fwrite.php" title="Alias of fwrite()">fputs()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fread.php" title="Reads from an open file">fread()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fscanf.php" title="Parses input from an open file according to a specified format">fscanf()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fseek.php" title="Seeks in an open file">fseek()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fstat.php" title="Returns information about an open file">fstat()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ftell.php" title="Returns the current position in an open file">ftell()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.ftruncate.php" title="Truncates an open file to a specified length">ftruncate()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.fwrite.php" title="Writes to an open file">fwrite()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.glob.php" title="Returns an array of filenames / directories matching a specified pattern">glob()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-dir.php" title="Checks whether a file is a directory">is_dir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-executable.php" title="Checks whether a file is executable">is_executable()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-file.php" title="Checks whether a file is a regular file">is_file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-link.php" title="Checks whether a file is a link">is_link()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-readable.php" title="Checks whether a file is readable">is_readable()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-uploaded-file.php" title="Checks whether a file was uploaded via HTTP POST">is_uploaded_file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-writable.php" title="Checks whether a file is writeable">is_writable()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.is-writable.php" title="Alias of is_writable()">is_writeable()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.link.php" title="Creates a hard link">link()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.linkinfo.php" title="Returns information about a hard link">linkinfo()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.lstat.php" title="Returns information about a file or symbolic link">lstat()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.mkdir.php" title="Creates a directory">mkdir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.move-uploaded-file.php" title="Moves an uploaded file to a new location">move_uploaded_file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.parse-ini-file.php" title="Parses a configuration file">parse_ini_file()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.pathinfo.php" title="Returns information about a file path">pathinfo()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.popen.php" title="Closes a pipe opened by popen()">pclose()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.popen.php" title="Opens a pipe">popen()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.readfile.php" title="Reads a file and writes it to the output buffer">readfile()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.readlink.php" title="Returns the target of a symbolic link">readlink()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.realpath.php" title="Returns the absolute pathname">realpath()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rename.php" title="Renames a file or directory">rename()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rewind.php" title="Rewinds a file pointer">rewind()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.rmdir.php" title="Removes an empty directory">rmdir()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.set-file-buffer.php" title="Sets the buffer size of an open file">set_file_buffer()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.stat.php" title="Returns information about a file">stat()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.symlink.php" title="Creates a symbolic link">symlink()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.tempnam.php" title="Creates a unique temporary file">tempnam()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.tmpfile.php" title="Creates a unique temporary file">tmpfile()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.touch.php" title="Sets access and modification time of a file">touch()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.umask.php" title="Changes file permissions for files">umask()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.unlink.php" title="Deletes a file">unlink()</a>
            li.title Filesystem Constants
            li GLOB_BRACE
            li GLOB_ONLYDIR
            li GLOB_MARK
            li GLOB_NOSORT
            li GLOB_NOCHECK
            li GLOB_NOESCAPE
            li PATHINFO_DIRNAME
            li PATHINFO_BASENAME
            li PATHINFO_EXTENSION
            li FILE_USE_INCLUDE_PATH
            li FILE_APPEND
            li FILE_IGNORE_NEW_LINES
            li FILE_SKIP_EMPTY_LINES
      .tool-sec
        h3 Filter
        ul
            li.title Filter Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-has-var.php" title="Checks if a variable of a specified input type exist">filter_has_var()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-id.php" title="Returns the ID number of a specified filter">filter_id()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-input.php" title="Get input from outside the script and filter it">filter_input()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-input-array.php" title="Get multiple inputs from outside the script and filters them">filter_input_array()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-list.php" title="Returns an array of all supported filters">filter_list()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-var-array.php" title="Get multiple variables and filter them">filter_var_array()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.filter-var.php" title="Get a variable and filter it">filter_var()</a>
            li.title Filters
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-callback" title="Call a user-defined function to filter data">FILTER_CALLBACK</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-string" title="Strip tags, optionally strip or encode special characters">FILTER_SANITIZE_STRING</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-stripped" title="Alias of "string" filter">FILTER_SANITIZE_STRIPPED</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-encoded" title="URL-encode string, optionally strip or encode special characters">FILTER_SANITIZE_ENCODED</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-special-chars" title="HTML-escape '&lt;&gt;&amp; and characters with ASCII value less than 32">FILTER_SANITIZE_SPECIAL_CHARS</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-email" title="Remove all characters, except letters, digits and !#$%&amp;'*+-/=?^_`{|}~@.[]">FILTER_SANITIZE_EMAIL</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-url" title="Remove all characters, except letters, digits and $-_.+!*'(),{}|\\^~[]`&lt;&gt;#%;/?:@&amp;=">FILTER_SANITIZE_URL</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-number-int" title="Remove all characters, except digits and +-">FILTER_SANITIZE_NUMBER_INT</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-number-float" title="remove all characters, except digits, +- and optionally .,ee">filter_sanitize_number_float</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-sanitize-magic-quotes" title="apply addslashes()">filter_sanitize_magic_quotes</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-unsafe-raw" title="Do nothing, optionally strip or encode special characters">FILTER_UNSAFE_RAW</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-int" title="Validate value as integer, optionally from the specified range">FILTER_VALIDATE_INT</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-boolean" title="Return TRUE for '1', 'true', 'on' and 'yes', FALSE for '0', 'false', 'off', 'no', and '', NULL otherwise">FILTER_VALIDATE_BOOLEAN</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-float" title="Validate value as float">FILTER_VALIDATE_FLOAT</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-regexp" title="Validate value against regexp, a Perl-compatible regular expression">FILTER_VALIDATE_REGEXP</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-url" title="Validate value as URL, optionally with required components">FILTER_VALIDATE_URL</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-email" title="Validate value as e-mail">FILTER_VALIDATE_EMAIL</a>
            li <a targer="_blank" href="http://php.net/manual/en/filter.constants.php#constant.filter-validate-ip" title="Validate value as IP address, optionally only IPv4 or IPv6 or not from private or reserved ranges">FILTER_VALIDATE_IP</a>
      .tool-sec
        h3 Calendar
        ul
            li.title Calendar Functions
            li <a targer="_blank" href="http://php.net/manual/en/function.cal-days-in-month.php" title="Returns the number of days in a month for a specified year and calendar">cal_days_in_month()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.cal-from-jd.php" title="Converts a Julian day count into a date of a specified calendar">cal_from_jd()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.cal-info.php" title="Returns information about a given calendar">cal_info()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.cal-to-jd.php" title="Converts a date to Julian day count">cal_to_jd()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.easter-date.php" title="Returns the Unix timestamp for midnight on Easter of a specified year">easter_date()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.easter-days.php" title="Returns the number of days after March 21, on which Easter falls for a specified year">easter_days()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.frenchtojd.php" title="Converts a French Republican date to a Julian day count">FrenchToJD()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.gregoriantojd.php" title="Converts a Gregorian date to a Julian day count">GregorianToJD()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jddayofweek.php" title="Returns the day of a week">JDDayOfWeek()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jdmonthname.php" title="Returns a month name">JDMonthName()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jdtofrench.php" title="Converts a Julian day count to a French Republican date">JDToFrench()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jdtogregorian.php" title="Converts a Julian day count to a Gregorian date">JDToGregorian()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jdtojewish.php" title="Converts a Julian day count to a Jewish date">jdtojewish()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jdtojulian.php" title="Converts a Julian day count to a Julian date">JDToJulian()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jdtounix.php" title="Converts a Julian day count to a Unix timestamp">jdtounix()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.jewishtojd.php" title="Converts a Jewish date to a Julian day count">JewishToJD()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.juliantojd.php" title="Converts a Julian date to a Julian day count">JulianToJD()</a>
            li <a targer="_blank" href="http://php.net/manual/en/function.unixtojd.php" title="Converts a Unix timestamp to a Julian day count">unixtojd()</a>
            li.title Calendar Constants
            li CAL_GREGORIAN
            li Gregorian calendar
            li CAL_JULIAN
            li Julian calendar
            li CAL_JEWISH
            li Jewish calendar
            li CAL_FRENCH
            li French Republican calendar
            li CAL_NUM_CALS
            li CAL_DOW_DAYNO
            li CAL_DOW_SHORT
            li CAL_DOW_LONG
            li CAL_MONTH_GREGORIAN_SHORT
            li CAL_MONTH_GREGORIAN_LONG
            li CAL_MONTH_JULIAN_SHORT
            li CAL_MONTH_JULIAN_LONG
            li CAL_MONTH_JEWISH
            li CAL_MONTH_FRENCH
            li CAL_EASTER_DEFAULT
            li CAL_EASTER_ROMAN
            li CAL_EASTER_ALWAYS_GREGORIAN
            li CAL_EASTER_ALWAYS_JULIAN
            li CAL_JEWISH_ADD_ALAFIM_GERESH
            li CAL_JEWISH_ADD_ALAFIM
            li CAL_JEWISH_ADD_GERESHAYIM
  script.
    $(function(){
      var toollist = $(".tool-sec");
      var toolwrap = $(".tool-wrap").width();
      var w_num = parseInt(toolwrap/217);
      for(i = 0; i < toollist.length; i ++){
        if(i > w_num - 1 && i < w_num*2){
          for(m = 0; m < w_num; m ++){
            toollist.eq(m + w_num).animate({
                  "left" : 235*m,
                   "top" : toollist.eq(m).height() + 40
            })
          }
        }else if(i > w_num*2 - 1 ){
          for(m = 0; m < w_num; m ++){
            toollist.eq(m + w_num*2).animate({
                  "left" : 235*m,
                   "top" : toollist.eq(m).height() + toollist.eq(m+w_num).height() + 80
            })
          }
        }else{
          toollist.eq(i).animate({
                "left" : 235*i,
                 "top" : 0
          })
        }
      }
    })