html,body {
	margin: 0;
	padding: 0 0;
	font-size: 1em;
	background: url(../images/galaxy_bgb.jpg) center -292px no-repeat #111 fixed;
	color: #333;
	font-family: "microsoft yahei";
}
body{
	overflow-y: scroll;
}
p{
	margin: 0;
	padding: 0;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
}
input,textarea{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 7px;
	width: 25%;
	&:hover{
		box-shadow: 0 0 3px #ddd;
	}
}
img{
	border: none;
	border-radius: 5px;
}
.hide{
	display: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
select {
	padding: .4em .2em;
}