html,body{
	background: #f3f4f5;
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 14px/1.5 "Times New Roman","Microsoft yahei","Helvetica Neue","Open Sans";
}
#svgvas{
	opacity: 1;
	overflow: hidden;
}
text{
	cursor: pointer;
	fill: #555;
}
.link {
  stroke: #aaa;
  stroke-width: 1px;
}
.node {
  cursor: move;
  fill: #fff;
  stroke: #111;
  stroke-width: 1px;
}
.node.fixed {
  fill: #f90;
}

/* vue test */

polygon {
    fill: #42b983;
    opacity: .75;
}
text {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 10px;
    fill: #666;
}

label {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
}

#raw {
    position: absolute;
    top: 0;
    left: 300px;
}