#drawing{
  background: #000;
  #svg {
    width: 1200px;
    height: 1200px;
  }
  path{
    fill: #0088cc;
    stroke: #fff;
    stroke-width: .1px;
  }
  path.graticule{
    fill: transparent;
    stroke: #222;
  }
  text{
    fill: #fff;
  }
}
