extends ../layout

block Content
  script(src="/jscript/xheditor-1.2.1.min.js",type="text/javascript")
  script(src="/jscript/lang/zh-cn.js",type="text/javascript")
  script(type='text/javascript',src='/jscript/admin.min.js')
  include ../menu
  #container.main
    #newarticle-wrap
      .list-both
        .list-left 标题:
        .list-right
          input(type="input",class="article-title")
      .list-both
        .list-left 副标题:
        .list-right
          input(type="input",class="article-subtitle")
      .list-both
        .list-left 内容:
        .list-right
          textarea(class="textarea-text article-content xheditor",id="elm1",name="elm1",rows="15",cols="89")
      .list-both
        .list-left 类别：
        .list-right
          select(class="article-type")
            option(value="01") 理论物理
            option(value="02") 实验物理
            option(value="06") 基础数学
            option(value="03") 哲学
            option(value="04") 生活大爆炸
            option(value="05") this big big world
      .list-both
        .list-left 
        .list-right
          a(href="###",class="btn btn-insert-article") 添加文章
          span(class="notice-span")
