extends ../layout

block Content
  include ../menu
  #container.main
    p.
      物理指事物的内在规律，事物的道理。是研究物质结构、物质相互作用和运动规律的自然科学，是一门以实验为基础的自然科学。
    #article
    ul
      each val,index in article
        li
          h3= index + "、" + (val.title ? val.title : "没有名字")
          div !{val.content ? val.content : ""}
          //div= (val.content ? val.content : "")
