title= title
link(rel="stylesheet", href="/stylesheets/style.css")
script(type='text/javascript',src='/jscript/jquery.min.js')
script(type='text/javascript',src='/jscript/phy.min.js')
.zhuwrap
	h3(class="title-xh")
	.box-answer 亲，来测试一下你上辈子是哪们将军或神圣，经权威机构鉴定，百分之百的准确。
		a(href="###",class="start-test") 开始测试
	.kongque.hide
	.zhu01.hide
	.zhu02.hide
	.zhu03.hide
	.zhu04.hide
  
