html,body{
  background: #f3f4f5;
  margin: 0;
  padding: 0;
  #fourier-wrap{
    svg {
      width: 100%;
      height: 1000px;
      background: #f3f4f5;
      circle.circle{
        stroke: #333;
        stroke-width: 1px;
        fill: #111;
      }
      circle.circleTransparent{
        stroke: transparent;
        fill: none;
      }
    }
    path{
      stroke: #999;
      stroke-width: 2px;
      fill: #999;
      &.path-fill-none{
        fill: none;
        stroke: #08c;
      }
    }
  }
}