block friendlink
.friendlink
  h3 友情链接
  ul
   li
    a(href="/bigbigworldeffect",target="_blank",title="this big big world") this big big world
    span.hide This Big Big World.
   li
    a(href="/apitool",target="_blank",title="javascript,jquery,html,css,ruby等常用开发工具") 常用工具
    span.hide api tool list
   li
    a(href="http://www.space.com/",target="_blank",title="Space and NASA News") Space and NASA News
    span.hide Universe and Deep Space Information.
   li
    a(href="/elements/index.html",target="_blank",title="元素周期表") 元素周期表
    span.hide Periodic Table
   li
    a(href="http://mathworld.wolfram.com",target="_blank",title="Wolfram MathWorld") Wolfram MathWorld
    span.hide The Web's Most Extensive Mathematics Resource
   li
    a(href="http://www.eso.org/",target="_blank",title="Wolfram MathWorld") European Southern Observatory
    span.hide European Organisation for Astronomical Research in the Southern Hemisphere
   li
    a(href="http://physics.about.com/",target="_blank",title="New Scientist") Physics Overview and Resources
    span.hide the science of physics
   li
    a(href="http://physics.aps.org/",target="_blank",title="National Aeronautics and Space Administration(NASA)") spotlighting exceptional research
    span.hide American Physical Society (APS)
   li
    a(href="http://www.edition.cnn.com/TECH/",target="_blank",title="CNN") CNN
    span.hide Technology News - Computers, Internet, Invention and Innovation Tech
   li
    a(href="https://www.github.com/",target="_blank",title="GitHub") GitHub
    span.hide Build software better, together.
   li
    a(href="http://robotcoming.com/",target="_blank",title="奇迹临近") 奇迹临近
    span.hide 奇迹临近