title= title
meta(name="keywords",content="物理,哲学,物理学爱好者,哲学爱好者,physicslover")
meta(name="description",content="物理,哲学,物理学爱好者,哲学爱好者,physicslover")
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="baidu-site-verification" content="jbARKSW0ps" />
link(rel="stylesheet", href="/stylesheets/style.css")
script(type='text/javascript',src='/jscript/jquery.min.js')
script(type='text/javascript',src='/jscript/phy.min.js')

script(type='text/javascript',src='/jscript/THREE-r65.min.js')
script(type='text/javascript',src='/jscript/Stats.min.js')
script(type='text/javascript',src='/jscript/ShaderParticles.min.js')