block Menu
  #menu
   ul(activeli="#{menuActive}",class="tp-menu-pt")
    li(seq="0")
     a(href="/",name="index",class="tp-menu") 首页
    li(seq="1")
     a(href="/theory",name="theory",class="tp-menu") 理论物理
    li(seq="2")
     a(href="/experiment",name="experiment",class="tp-menu") 实验物理
    li(seq="6")
     a(href="/mathematics",name="mathematics",class="tp-menu") 基础数学
    li(seq="3")
     a(href="/philosophy",name="philosophy",class="tp-menu") 哲学
    li(seq="4")
     a(href="/bigbang",name="bigbang",class="tp-menu") 生活大爆炸
    li(seq="5")
     a(href="/bigbigworld",name="bigbigworld",class="tp-menu") This big World
    li(seq="7")
     a(href="/aboutus",name="aboutus",class="tp-menu") 关于本站
  .padding