title= title
meta(name="keywords",content="唐诗、宋词、元曲")
meta(name="description",content="唐诗、宋词、元曲")
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="baidu-site-verification" content="jbARKSW0ps" />
link(rel="stylesheet", href="/stylesheets/style.css")
script(type='text/javascript',src='/jscript/jquery.min.js')
script(type='text/javascript',src='/jscript/poem.min.js')