block Menu
  #menu
   ul(activeli="#{menuActive}",class="tool-menu")
    li(seq="0")
     a(href="/html",name="html",class="tp-menu") HTML
    li(seq="1")
     a(href="/javascript",name="javascript",class="tp-menu") JavaScript
    li(seq="2")
     a(href="/css",name="css",class="tp-menu") CSS
    li(seq="6")
     a(href="/php",name="php",class="tp-menu") PHP
    li(seq="3")
     a(href="/jquery",name="jquery",class="tp-menu") Jquery
    li(seq="4")
     a(href="/python",name="python",class="tp-menu") Python
    li(seq="7")
     a(href="/aboutus",name="aboutus",class="tp-menu",target="_blank") 关于本站
  .padding