-var titlect = "开发者工具,php,jquery,html,css,javascript,python,php"
title= titlect
meta(name="keywords",content=titlect)
meta(name="description",content=titlect)
<meta name="baidu-site-verification" content="jbARKSW0ps" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
link(rel="stylesheet", href="/stylesheets/style.css")
script(type='text/javascript',src='/jscript/jquery.min.js')
script(type='text/javascript',src='/jscript/phy.min.js')
script(type='text/javascript',src='/jscript/THREE-r65.min.js')
script(type='text/javascript',src='/jscript/Stats.min.js')
script(type='text/javascript',src='/jscript/ShaderParticles.min.js')