extends ../poemlayout

block Content
  script(src="/jscript/xheditor-1.2.1.min.js",type="text/javascript")
  script(src="/jscript/lang/zh-cn.js",type="text/javascript")
  #container.main
    #newarticle-wrap
      .list-both
        .list-left 诗词标题:
        .list-right
          input(type="input",class="article-title")
      .list-both
        .list-left 诗词作者:
        .list-right
          input(type="input",class="article-author")
      .list-both
        .list-left 诗词内容:
        .list-right
          textarea(class="textarea-text article-content xheditor",id="elm1",name="elm1",rows="15",cols="89")
      .list-both
        .list-left 诗词赏析:
        .list-right
          textarea(class="textarea-text article-appreciation xheditor",id="elm2",name="elm2",rows="15",cols="89")
      .list-both
        .list-left 关于作者:
        .list-right
          textarea(class="textarea-text article-authorinfo xheditor",id="elm3",name="elm3",rows="15",cols="89")
      .list-both
        .list-left 类别：
        .list-right
          select(class="article-type width6")
            option(value="01") 唐诗
            option(value="02") 宋词
            option(value="03") 元曲
      .list-both
        .list-left 
        .list-right
          a(href="###",class="btn btn-insert-poem") 添加文章
          span(class="notice-span")
